// CoreUI
@import "coreui/style";

//@tailwind base;
@tailwind components;
@tailwind utilities;

// ant.design
@import "~antd/dist/antd.css";

a {
  text-decoration: none;
}

// Fix ant conflict with core-ui
.ant-modal-mask {
  z-index: 1031;
}

.ant-modal-wrap {
  z-index: 1032;
}

//lightGallery
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lightgallery.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-zoom.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-video.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-fullscreen.css');